body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.375em;
}

nav {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  color: orange;
}

.logo {
  margin: 20px;
  width: 100px;
  float: left;
}


.medium-pic {
  width: 70%;
}

.left, .right {
  width: 50%;
}


ul {
  float: right;
  list-style-type: none;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
  font-size: 3em;
  line-height: 1.05em;
  padding-bottom: 12px;
}

h3 {
  font-size: 1.75em;
  line-height: 1.25em;
  padding-bottom: 12px;
}

.author {
  font-size: .9em;
  padding-bottom: 12px;
}

figcaption {
  font-size: .8em;
  padding-bottom: 20px;

}

p {
  line-height: 120%;
  padding-bottom: 15px;
}
